/* line 17, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'source';
  src: url("../../fonts/sourcesanspro-regular.eot");
  src: url("../../fonts/sourcesanspro-regular.eot") format("embedded-opentype"), url("../../fonts/sourcesanspro-regular.woff") format("woff"), url("../../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../../fonts/sourcesanspro-regular.svg#source") format("svg");
}

/* line 1, ../sass/partials/_general.scss */
html, body {
  height: 100%;
  font-family: "source";
  font-size: 10px;
}

/* line 10, ../sass/partials/_general.scss */
.header-primary {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100px;
}

/* line 17, ../sass/partials/_general.scss */
.btn-primary {
  left: 50%;
  margin: 5% 0 0 -80px;
  font-size: 2em;
  position: absolute;
}
/* line 23, ../sass/partials/_general.scss */
.btn-primary:active, .btn-primary:focus {
  outline: none;
}
/* line 27, ../sass/partials/_general.scss */
.btn-primary span {
  vertical-align: middle;
  margin: -5px 10px 0 0;
}

/* line 38, ../sass/partials/_general.scss */
.main {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  top: 20%;
  left: 4%;
  color: #ffffff;
  padding: 0;
}

/* line 48, ../sass/partials/_general.scss */
.list-actions {
  width: 80px;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  left: -70px;
  top: 0;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 59, ../sass/partials/_general.scss */
.list-actions.open {
  left: 0;
}

/* line 64, ../sass/partials/_general.scss */
.list-item {
  height: 70px;
  border-bottom: 1px solid #ccc;
}
/* line 68, ../sass/partials/_general.scss */
.list-item:first-child {
  margin-top: 30px;
}
/* line 72, ../sass/partials/_general.scss */
.list-item:last-child {
  border-bottom: none;
}

/* line 77, ../sass/partials/_general.scss */
.list-link {
  display: block;
  background-color: #000;
  text-align: center;
  width: 100%;
  line-height: 21px;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2em;
}
/* line 88, ../sass/partials/_general.scss */
.list-link:hover {
  text-decoration: none;
}
/* line 92, ../sass/partials/_general.scss */
.list-link span {
  color: #fff;
  font-size: 3em;
  text-align: center;
  display: block;
  padding-top: 9px;
}

/* line 101, ../sass/partials/_general.scss */
.subtitle {
  font-size: 3em;
  text-align: center;
  color: #ffffff;
  padding: 5px;
  display: block;
}

/* line 110, ../sass/partials/_general.scss */
.list-alone,
.list-group {
  margin-top: 10px;
  padding: 0;
}
/* line 114, ../sass/partials/_general.scss */
.list-alone li,
.list-group li {
  margin: 10px 10px 0 10px;
  text-align: center;
  padding: 0 0 10px 0;
}
/* line 120, ../sass/partials/_general.scss */
.list-alone li:nth-child(even), .list-alone li:hover,
.list-group li:nth-child(even),
.list-group li:hover {
  background-color: #ccc;
}
/* line 123, ../sass/partials/_general.scss */
.list-alone li:nth-child(even) a, .list-alone li:hover a,
.list-group li:nth-child(even) a,
.list-group li:hover a {
  color: #000000;
}
/* line 128, ../sass/partials/_general.scss */
.list-alone li a,
.list-group li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}

/* line 138, ../sass/partials/_general.scss */
.info {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  text-align: left;
}
/* line 144, ../sass/partials/_general.scss */
.info h3 {
  font-size: 2em;
}
/* line 148, ../sass/partials/_general.scss */
.info small, .info .distance {
  margin-top: 10px;
  display: inline-block;
  font-size: 1.2em;
}

/* line 155, ../sass/partials/_general.scss */
.icon {
  border: none;
  outline: none;
  display: inline-block;
}

/* line 166, ../sass/partials/_general.scss */
#map {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  position: absolute;
  left: 0;
}

/* line 176, ../sass/partials/_general.scss */
.infoBox::before {
  content: "";
  display: block;
  left: 58%;
  position: absolute;
  top: -4px;
  width: 0;
  height: 0;
  border-top: 30px solid white;
  border-left: 30px solid transparent;
  transform: rotate(-30deg);
}

/* line 190, ../sass/partials/_general.scss */
.title-info {
  -webkit-text-shadow: 0px 0px 0.2px;
  -moz-text-shadow: 0px 0px 0.2px;
  -ms-text-shadow: 0px 0px 0.2px;
  -o-text-shadow: 0px 0px 0.2px;
  text-shadow: 0px 0px 0.2px;
  line-height: 14px;
  margin-top: 70px;
}

/* line 196, ../sass/partials/_general.scss */
.distance-info {
  font-size: 1.2em;
  margin: 5px 0;
  font-style: italic;
}

/* line 202, ../sass/partials/_general.scss */
.link-info {
  margin: 30px 0;
  position: relative;
  display: inline-block;
  background: #eee;
  padding: 5px;
}

@media only screen and (min-width: 1024px) {
  /* line 2, ../sass/partials/_media.scss */
  .list-actions {
    width: 100px;
    left: 0;
  }

  /* line 7, ../sass/partials/_media.scss */
  .btn-primary {
    padding: 5px 30px;
    font-size: 2.8em;
    margin: 5% 0 0 -100px;
  }
}
